@inherits SplitterCommon
@*calc(a-b) is incorrect, calc(a - b) is correct*@
@if (VisiblePanel == Visibility.Both)
{
    <div id="@m_guid" class="vsplitter" style="grid-template-columns: calc(@Sizes.First - 10px) 10px @Sizes.Second;">
        <div class="panel">
            <CascadingValue Value=@this>
                @FirstPanel
            </CascadingValue>
        </div>

        <div id="@(m_guid)_slider" class="vslider" @onpointerdown="onpointerdown" @onpointermove="onpointermove" @onpointerup="onpointerup">
            <div class="varrow" @onpointerdown="(e)=>Direct(0)"><IconLeft /></div>
            <div class="vhandle"></div>
            <div class="varrow" @onpointerdown="(e)=>Direct(100)"><IconRight /></div>
        </div>

        <div class="panel">
            <CascadingValue Value=@this>
                @SecondPanel
            </CascadingValue>
        </div>
    </div>
}
@if (VisiblePanel == Visibility.First)
{
    <div id="@m_guid" class="vsplitter">
        <div class="panel">
            <CascadingValue Value=@this>
                @FirstPanel
            </CascadingValue>
        </div>
    </div>
}
@if (VisiblePanel == Visibility.Second)
{
    <div id="@m_guid" class="vsplitter">
        <div class="panel">
            <CascadingValue Value=@this>
                @SecondPanel
            </CascadingValue>
        </div>
    </div>
}