@page "/"
@using BlazorSplitters
<button @onclick="(e)=> { AddText(ref top); }">TOP+</button>
<button @onclick="(e)=> { AddText(ref left); }">LEFT+</button>
<button @onclick="(e)=> { AddText(ref right); }">RIGHT+</button>
<p>@m_sizes1.First;@m_sizes1.Second</p>
<div style="width:500px; height:500px;border:solid;border-width:1px;">
    <BlazorSplitters.HSplitter Sizes="@m_sizes1" SizesChangedMove="(s)=>{}" SizesChangedFinal="(s)=>{}">
        <FirstPanel>
            <span>@(top)</span>
        </FirstPanel>
        <SecondPanel>
            <BlazorSplitters.VSplitter Sizes="@m_sizes2">
                <FirstPanel>
                    <span>@(left)</span>
                </FirstPanel>
                <SecondPanel>
                    <span>@(right)</span>
                </SecondPanel>
            </BlazorSplitters.VSplitter>
        </SecondPanel>
    </BlazorSplitters.HSplitter>
</div>

@code
{
    Sizes m_sizes1 = new Sizes() { First = "40%" };
    Sizes m_sizes2 = new Sizes() { First = "40%" };
    string text = "To provide a more reasonable default minimum size for grid items, this specification defines that the auto value of min-width / min-height also applies an automatic minimum size in the specified axis to grid items whose overflow is visible. (The effect is analogous to the automatic minimum size imposed on flex items.)";
    string top, left, right;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            top = left = right = text;
            StateHasChanged();
        }
    }

    void AddText(ref string src)
    {
        src += text;
    }
}